<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        nav {
            background-color: #333;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }

        nav h3 {
            margin: 0;
            font-size: 1.5em;
            padding-left: 15px;
        }

        nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            padding-right: 20px;
        }

        nav ul li {
            margin-right: 20px;

        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            transition: color 0.3s ease;
        }

        nav ul li a:hover {
            color: #ffcc00;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            color: #ffcc00;
        }
    </style>
</head>

<body>
    <nav>
        <h3>UBlogs..</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">blogs</a></li>
        </ul>
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>
    <form action="/login" method="post">
        <h1>Hey! login</h1>
        {{#if registrationMessage}}
        <h4>{{registrationMessage}}</h4>
        {{/if}}
        <input type="text" name="username" placeholder="Enter username">
        <input type="text" name="password" placeholder="Enter password">
        <button type="submit">LOGIN</button>
    </form>
</body>

</html>